In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [2]:
## Final Flights data
df = pd.read_csv('transformed data 700 600 150/engine_runs_table.csv')

In [3]:
df['Engine_Run_Start_Times'] = pd.to_datetime(df['Engine_Run_Start_Times'].astype(str),format="%H%M%S").dt.time
df['Engine_Run_Start_Times']

0      16:57:05
1      19:37:03
2      18:47:38
3      20:26:16
4      20:30:56
         ...
868    19:17:17
869    21:15:25
870    20:27:32
871    17:48:28
872    21:11:40
Name: Engine_Run_Start_Times, Length: 873, dtype: object

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'].astype(str),format="%H%M%S").dt.time
df['Start Time']
df['first_event_time'] = pd.to_datetime(df['first_event_time'].astype(str),format="%H%M%S").dt.time
df['first_event_time']

0      16:57:05
1      19:37:03
2      18:47:38
3      20:26:16
4      20:26:16
         ...
868    19:17:17
869    21:15:25
870    20:27:32
871    21:11:40
872    21:11:40
Name: first_event_time, Length: 873, dtype: object

In [5]:
df['time_difference'] = df.apply(lambda row: 
    pd.to_datetime(str(row['Engine_Run_Start_Times'])) - pd.to_datetime(str(row['Start Time'])), axis=1)

# Convert the timedelta column to string, and remove the "0 days " prefix if present.
df['time_difference'] = df['time_difference'].astype(str).str.replace("0 days ", "", regex=False)

# Optionally display the results.
print(df[['Engine_Run_Start_Times', 'Start Time', 'time_difference']].head())

  Engine_Run_Start_Times Start Time time_difference
0               16:57:05   16:44:59        00:12:06
1               19:37:03   19:37:03        00:00:00
2               18:47:38   18:38:35        00:09:03
3               20:26:16   19:31:32        00:54:44
4               20:30:56   19:31:32        00:59:24

In [6]:
df['Engine_Event_LessThan_5min_into_flight'] = df['time_difference'].between('00:00:00','00:05:00')
df['Engine_Event_LessThan_5min_into_flight'] = df['Engine_Event_LessThan_5min_into_flight'].astype(int)
df['Engine_Event_LessThan_5min_into_flight'].head(10)

0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Engine_Event_LessThan_5min_into_flight, dtype: int64

In [7]:
# Suppose df is your DataFrame.
cols = ["ENL_Engine_Run_Start_Times", "MOP_Engine_Run_Start_Times", "RPM_Engine_Run_Start_Times"]

for col in cols:
    # For each non-null value, convert to int then to string so that decimals are dropped.
    df[col] = df[col].apply(lambda x: str(int(x)) if pd.notna(x) else x)

# Optionally, print the first few rows to verify.
print(df[cols].head())

  ENL_Engine_Run_Start_Times MOP_Engine_Run_Start_Times  \
0                     165705                        NaN
1                     193703                        NaN
2                     184738                        NaN
3                     202616                        NaN
4                     203056                        NaN

  RPM_Engine_Run_Start_Times
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

In [8]:
df.to_csv('transformed data 700 600 150/engine_runs_table_final.csv')

/home/vuh5mk/.local/lib/python3.11/site-packages/pandas/core/indexes/base.py:7833: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)