In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import csv

### Default Thresholds

In [2]:
## Final Flights data
df = pd.read_csv('transformed data 600 500 50/updated_flights_final.csv', sep="\t", quoting=csv.QUOTE_ALL)

In [3]:
df.columns

Index(['index', 'Date (MM/DD/YYYY)', 'File', 'Gtype', 'Flight Time',
       'Start Time', 'End Time', 'Landing', 'Start_Alt (ft MSL)',
       'Max Altitude (ft MSL/ft AGL)', 'Surface Height (ft MSL)',
       'Pressure Altitude (ft MSL)', 'Offset (ft)', 'Sensor Info',
       'ENL_Engine_Run_Start_Times', 'MOP_Engine_Run_Start_Times',
       'RPM_Engine_Run_Start_Times', 'ENL_Engine_Run_Altitudes_MSL',
       'MOP_Engine_Run_Altitudes_MSL', 'RPM_Engine_Run_Altitudes_MSL',
       'ENL_Engine_Run_Altitudes_AGL', 'MOP_Engine_Run_Altitudes_AGL',
       'RPM_Engine_Run_Altitudes_AGL', 'ENL_Noise_Registration_Times',
       'MOP_Noise_Registration_Times', 'RPM_Noise_Registration_Times',
       'ENL_Noise_Registration_Altitudes_AGL',
       'MOP_Noise_Registration_Altitudes_AGL',
       'RPM_Noise_Registration_Altitudes_AGL', 'first_event_time',
       'event_type', 'event_sensor', 'first_event_datetime',
       'flight_start_datetime', 'window_start', 'window_end',
       'engine_run_agls', 'altitude_rate_pre_event_window (ft/s)',
       'distance_traveled_during_window (miles)',
       'is_circling_during_pre_event_window',
       'terrain_elev_at_engine_run (ft)', 'terrain_label_at_engine_run',
       'Engine_Start_Above_1000ft', 'engine_run_times (s)',
       'height_gain_loss (ft)', 'avg_speed_while_engine_running (knots)',
       'min_speed_while_engine_running (knots)',
       'max_speed_while_engine_running (knots)', 'All_Min_TAS_knots',
       'All_Max_TAS_knots', 'All_Avg_TAS_knots', 'All_Post_Run_Min_TAS_knots',
       'All_Post_Run_Max_TAS_knots', 'All_Post_Run_Avg_TAS_knots',
       'Circling_Segment_Found', 'Min_Speed_While_Engine_Running_knots',
       'Max_Speed_While_Engine_Running_knots',
       'Avg_Speed_While_Engine_Running_knots', 'max_noise_ENL',
       'max_noise_MOP', 'max_noise_RPM'],
      dtype='object')

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'].astype(str),format="%H%M%S").dt.time
df['Start Time']

0      16:44:59
1      19:37:03
2      18:38:35
3      19:31:32
4      17:07:46
         ...
396    17:29:51
397    17:33:56
398    17:52:02
399    17:58:26
400    17:48:28
Name: Start Time, Length: 401, dtype: object

In [5]:
df['first_event_time'] = pd.to_datetime(df['first_event_time'].astype(str),format="%H%M%S").dt.time
df['first_event_time']

0      16:57:05
1      19:37:03
2      18:47:38
3      20:26:16
4      17:18:02
         ...
396    20:25:17
397    19:48:39
398    21:15:25
399    20:27:32
400    21:11:40
Name: first_event_time, Length: 401, dtype: object

In [6]:
df['time_difference'] = df.apply(lambda row: 
    pd.to_datetime(str(row['first_event_time'])) - pd.to_datetime(str(row['Start Time'])), axis=1)

In [7]:
df['time_difference'] = df['time_difference'].astype(str).str.split('0 days ').str[-1]
df['time_difference'].head(10)

0    00:12:06
1    00:00:00
2    00:09:03
3    00:54:44
4    00:10:16
5    04:30:44
6    04:04:34
7    00:10:12
8    01:43:56
9    00:03:52
Name: time_difference, dtype: object

In [8]:
df['First_Event_LessThan_5min_into_flight'] = df['time_difference'].between('00:00:00','00:05:00')
df['First_Event_LessThan_5min_into_flight'] = df['First_Event_LessThan_5min_into_flight'].astype(int)
df['First_Event_LessThan_5min_into_flight'].head(10)

0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
Name: First_Event_LessThan_5min_into_flight, dtype: int64

In [9]:
df.head(5)

,index,Date (MM/DD/YYYY),File,Gtype,Flight Time,Start Time,End Time,Landing,Start_Alt (ft MSL),Max Altitude (ft MSL/ft AGL),...,All_Post_Run_Avg_TAS_knots,Circling_Segment_Found,Min_Speed_While_Engine_Running_knots,Max_Speed_While_Engine_Running_knots,Avg_Speed_While_Engine_Running_knots,max_noise_ENL,max_noise_MOP,max_noise_RPM,time_difference,First_Event_LessThan_5min_into_flight
0,13,08/18/2020,2020-08-18-CNI-20Y-01.IGC,ASW 27-18 E (ASG-29E),3:37:01,16:44:59,202200,HOME,652,7208[5847],...,65.1,True,NaN,NaN,NaN,999,NaN,NaN,00:12:06,0
1,15,06/27/2024,46RGJUM1.IGC,VENTUS 3F,3:42:29,19:37:03,231932,HOME,3713,11335[8058],...,78.7,True,NaN,NaN,NaN,921,NaN,NaN,00:00:00,1
2,24,06/29/2018,2018-06-29-NKL-10Q-01.IGC,ASW 27-18 E (ASG-29E),3:18:46,18:38:35,215721,HOME,301,4576[4373],...,57.5,True,NaN,NaN,NaN,999,NaN,NaN,00:09:03,0
3,25,06/09/2018,2018-06-09-CNI-20E-01.IGC,ASW 27-18 E (ASG-29E),2:39:52,19:31:32,221124,HOME,1578,5885[4203],...,"59.1,60.6",False,NaN,NaN,NaN,"999,999",NaN,NaN,00:54:44,0
4,28,06/04/2023,2023-06-04-LXV-NBR-01.IGC,VENTUS 3F,4:13:53,17:07:46,212139,HOME,301,5698[5318],...,80.7,True,64.16,83.13,75.09,NaN,609,NaN,00:10:16,0

In [10]:
df.to_csv('transformed data 600 500 50/updated_flights_final.csv',sep='\t', index=False)

/home/vuh5mk/.local/lib/python3.11/site-packages/pandas/core/indexes/base.py:7833: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

### Increased by 100 for Thresholds

In [11]:
## Final Flights data
df = pd.read_csv('transformed data 700 600 150/updated_flights_final.csv', sep="\t", quoting=csv.QUOTE_ALL)

In [12]:
df.columns

Index(['index', 'Date (MM/DD/YYYY)', 'File', 'Gtype', 'Flight Time',
       'Start Time', 'End Time', 'Landing', 'Start_Alt (ft MSL)',
       'Max Altitude (ft MSL/ft AGL)', 'Surface Height (ft MSL)',
       'Pressure Altitude (ft MSL)', 'Offset (ft)', 'Sensor Info',
       'ENL_Engine_Run_Start_Times', 'MOP_Engine_Run_Start_Times',
       'RPM_Engine_Run_Start_Times', 'ENL_Engine_Run_Altitudes_MSL',
       'MOP_Engine_Run_Altitudes_MSL', 'RPM_Engine_Run_Altitudes_MSL',
       'ENL_Engine_Run_Altitudes_AGL', 'MOP_Engine_Run_Altitudes_AGL',
       'RPM_Engine_Run_Altitudes_AGL', 'ENL_Noise_Registration_Times',
       'MOP_Noise_Registration_Times', 'RPM_Noise_Registration_Times',
       'ENL_Noise_Registration_Altitudes_AGL',
       'MOP_Noise_Registration_Altitudes_AGL',
       'RPM_Noise_Registration_Altitudes_AGL', 'first_event_time',
       'event_type', 'event_sensor', 'first_event_datetime',
       'flight_start_datetime', 'window_start', 'window_end',
       'engine_run_agls', 'altitude_rate_pre_event_window (ft/s)',
       'distance_traveled_during_window (miles)',
       'is_circling_during_pre_event_window',
       'terrain_elev_at_engine_run (ft)', 'terrain_label_at_engine_run',
       'Engine_Start_Above_1000ft', 'engine_run_times (s)',
       'height_gain_loss (ft)', 'avg_speed_while_engine_running (knots)',
       'min_speed_while_engine_running (knots)',
       'max_speed_while_engine_running (knots)', 'All_Min_TAS_knots',
       'All_Max_TAS_knots', 'All_Avg_TAS_knots', 'All_Post_Run_Min_TAS_knots',
       'All_Post_Run_Max_TAS_knots', 'All_Post_Run_Avg_TAS_knots',
       'Circling_Segment_Found', 'Min_Speed_While_Engine_Running_knots',
       'Max_Speed_While_Engine_Running_knots',
       'Avg_Speed_While_Engine_Running_knots', 'max_noise_ENL',
       'max_noise_MOP', 'max_noise_RPM'],
      dtype='object')

In [13]:
df['Start Time'] = pd.to_datetime(df['Start Time'].astype(str),format="%H%M%S").dt.time

In [14]:
df['first_event_time'] = pd.to_datetime(df['first_event_time'].astype(str),format="%H%M%S").dt.time

In [15]:
df['time_difference'] = df.apply(lambda row: 
    pd.to_datetime(str(row['first_event_time'])) - pd.to_datetime(str(row['Start Time'])), axis=1)

In [16]:
df['time_difference'] = df['time_difference'].astype(str).str.split('0 days ').str[-1]
df['time_difference'].head(10)

0    00:12:06
1    00:00:00
2    00:09:03
3    00:54:44
4    00:10:16
5    04:30:44
6    04:04:34
7    00:10:12
8    01:43:56
9    00:03:52
Name: time_difference, dtype: object

In [17]:
df['First_Event_LessThan_5min_into_flight'] = df['time_difference'].between('00:00:00','00:05:00')
df['First_Event_LessThan_5min_into_flight'] = df['First_Event_LessThan_5min_into_flight'].astype(int)
df['First_Event_LessThan_5min_into_flight'].head(10)

0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
Name: First_Event_LessThan_5min_into_flight, dtype: int64

In [18]:
df.head(5)

,index,Date (MM/DD/YYYY),File,Gtype,Flight Time,Start Time,End Time,Landing,Start_Alt (ft MSL),Max Altitude (ft MSL/ft AGL),...,All_Post_Run_Avg_TAS_knots,Circling_Segment_Found,Min_Speed_While_Engine_Running_knots,Max_Speed_While_Engine_Running_knots,Avg_Speed_While_Engine_Running_knots,max_noise_ENL,max_noise_MOP,max_noise_RPM,time_difference,First_Event_LessThan_5min_into_flight
0,13,08/18/2020,2020-08-18-CNI-20Y-01.IGC,ASW 27-18 E (ASG-29E),3:37:01,16:44:59,202200,HOME,652,7208[5847],...,65.1,True,NaN,NaN,NaN,999,NaN,NaN,00:12:06,0
1,15,06/27/2024,46RGJUM1.IGC,VENTUS 3F,3:42:29,19:37:03,231932,HOME,3713,11335[8058],...,78.7,True,NaN,NaN,NaN,921,NaN,NaN,00:00:00,1
2,24,06/29/2018,2018-06-29-NKL-10Q-01.IGC,ASW 27-18 E (ASG-29E),3:18:46,18:38:35,215721,HOME,301,4576[4373],...,57.5,True,NaN,NaN,NaN,999,NaN,NaN,00:09:03,0
3,25,06/09/2018,2018-06-09-CNI-20E-01.IGC,ASW 27-18 E (ASG-29E),2:39:52,19:31:32,221124,HOME,1578,5885[4203],...,"59.1,60.6",False,NaN,NaN,NaN,"999,999",NaN,NaN,00:54:44,0
4,28,06/04/2023,2023-06-04-LXV-NBR-01.IGC,VENTUS 3F,4:13:53,17:07:46,212139,HOME,301,5698[5318],...,80.7,True,64.16,83.13,75.09,NaN,609,NaN,00:10:16,0

In [19]:
df.to_csv('transformed data 700 600 150/updated_flights_final.csv',sep='\t', index=False)

/home/vuh5mk/.local/lib/python3.11/site-packages/pandas/core/indexes/base.py:7833: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)